checkpoints/**
data/**/*.pkl
data/**/*.jsonl
data/**/*.smi
data/**/*.msp
data/**/*.sel
data/**/*.SIF
data/**/*.log
data/deprecated/*

data/categorized
neims_gen_analysis_ntbs/*
**/wandb
zia_training_stuff
zia_training_stuff_30M/*
deprecated/*
RLHF/**

# meta logs
**/BARTSpektro_experiment*
**/JupyterLabPyTorch_GPU*

# big files
data/categorized_michal.csv
predictions/**/*.jsonl

# temporary files
**/.ipynb_checkpoints/**
**/__pycache__/**
**/tmp
**/*.swp
