checkpoints/**
data/**/*.pkl
data/**/*.smi
data/**/*.msp
data/datasets/NIST
data/deprecated/**
neims_gen_analysis_ntbs/**
**/wandb
zia_training_stuff

# temporary files
**/.ipynb_checkpoints/**
**/__pycache__/**
**/tmp
**/*.swp
