# data
data/datasets/**
data/NIST/**
data/rcx_spectra/**
data/ZINC15/**/*.smi

checkpoints/**
**/wandb/**
michal_repo/**
**/*.SIF
zia_training_stuff_30M/**
RLHF/ckpts/**
neims_gen_analysis_ntbs/**

# temporary files
**/tmp/**
**/.ipynb_checkpoints/**
**/__pycache__/**
**/*.swp
