general:
  device: cuda # cpu/cuda
  additional_naming_info: "" # optional

dataset: # SET ALL - important for saving
  # data_path: "data/datasets/30M/30M_valid.pkl" # REQUIRED!
  data_path: data/datasets/NIST/NIST20_only/NIST20_only_NIST_<neims>.jsonl
  dataset_name: ZINC # rcx/ZINC/NIST/...    REQUIRED! (for naming)
  data_split: valid # train/test/valid/... REQUIRED! (for naming)
  data_range: null # "0:50" # x:y for range; null for FULL dataset  REQUIRED! (for naming)

dataloader:
  batch_size: 1  # DONT CHANGE THAT! for now (the predictions get mixed or sth.. BS1 works ok.)
  num_workers: 5

tokenizer:
  tokenizer_path: "tokenizer/bbpe_tokenizer/bart_bbpe_1M_tokenizer.model" # REQUIRED!

generation_args:
  "top_k": null
  "top_p": 0.8
  "do_sample": True
  "num_beams": 10
  "temperature": null
  "penalty_alpha": null
  "num_return_sequences": 10
  "max_length": 200
  "decoder_input_token": "<neims>"
  "length_penalty": 1.0 # (use for beam search otherwise set to 0)

